<%- include("includes/head.ejs") %>

    <body>
        <%- include("includes/header.ejs") %>

            <div id="mx-auto"
                class="hsize-full overflow-x-hidden overflow-y-auto mt-20">
                <div
                    class="sm:max-w-lg sm:w-full m-3 sm:mx-auto">
                    <div class="relative flex flex-col bg-white shadow-lg rounded-xl dark:bg-neutral-900">
                        <div class="p-4 sm:p-10 text-center overflow-y-auto">
                            <!-- Icon -->
                            <span
                                class="mb-4 inline-flex justify-center items-center size-[46px] rounded-full border-4 border-green-50 bg-green-100 text-green-500 dark:bg-green-700 dark:border-green-600 dark:text-green-100">
                                <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" viewBox="0 0 16 16">
                                    <path
                                        d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z" />
                                </svg>
                            </span>
                            <!-- End Icon -->

                            <h3 id="hs-task-created-alert-label"
                                class="mb-2 text-xl font-bold text-gray-800 dark:text-neutral-200">
                                <%= post.username %>
                            </h3>
                            <p class="text-gray-500 dark:text-neutral-500">
                                <%= post.content %>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
    </body>